{% extends 'baseback.html.twig' %}

{% block body %}
    <div class="app-content">
        <div class="side-app">
            <div class="page-header">
                <h4 class="page-title">Data Tables</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fe   fe-box mr-1"></i> Tables</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data Tables</li>
                </ol>
            </div>



            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Data Tables</div>
                        </div>
                        <div class="card-body">

                                <div class="table-responsive">

                                <table id="example" class="table table-striped table-bordered" >

                                    <thead>
                                    <tr>
                                        <th class="wd-15p">Id </th>
                                        <th class="wd-15p">Name</th>
                                        <th class="wd-20p">Description</th>
                                        <th class="wd-15p">price</th>
                                        <th class="wd-10p">category</th>
                                        <th class="wd-25p">adresse</th>
                                        <th class="wd-25p">Update</th>
                                        <th class="wd-25p">Delete</th>


                                    </tr>

                                    </thead>
                                    {% for repa in repas %}

                                        <tbody>


                                    <tr>
                                        <td>{{ repa.id }}</td>
                                        <td>{{ repa.nom }}</td>
                                        <td> {{ repa.description }}</td>
                                        <td>{{ repa.price }}</td>
                                        <td>{{ repa.category }}</td>
                                        <td>{{repa.adresse}}</td>

                                        <td><a href="{{ path('repas_edit', {'id': repa.id}) }}" class="btn btn-success">update</td>
                                        <td><a href="{{ path('repas_delete', {'id': repa.id}) }}" class="btn btn-danger">Delete</td>

                                    </tr>
                                    </tbody>
                                    {% endfor %}

                                </table>

                            </div>

                        </div>

                        <!-- table-wrapper -->
                    </div>
                    <!-- section-wrapper -->
                </div>

            </div>
        </div>
    </div>
{% endblock %}