{% extends 'baseback.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
    <div class="app-content">
        <div class="side-app">
            <div class="page-header">
                <h4 class="page-title">Data Tables</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fe   fe-box mr-1"></i> Tables</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data Tables</li>
                </ol>
            </div>



            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Data Tables</div>
                        </div>
                        <div class="card-body">

                            <div class="table-responsive">

                                <table id="example" class="table table-striped table-bordered" >

                                    <thead>
                                    <tr>
                                        <th class="wd-15p">Id </th>
                                        <th class="wd-15p">Nom</th>
                                        <th class="wd-20p">prenom</th>
                                        <th class="wd-15p">Email</th>
                                        <th class="wd-10p">Sujet</th>
                                        <th class="wd-25p">Message</th>
                                        <th class="wd-25p">Etat</th>
                                        <th class="wd-25p">Delete</th>
                                        <th class="wd-25p">Update</th>


                                    </tr>

                                    </thead>
                                    {% for reclamation in reclamation %}
                                        <tr>
                                            <td>{{ reclamation.id }}</td>
                                            <td>{{ reclamation.nom }}</td>
                                            <td>{{ reclamation.prenom }}</td>
                                            <td>{{ reclamation.email }}</td>
                                            <td>{{ reclamation.subject }}</td>
                                            <td>{{ reclamation.message }}</td>

                                           <td>
                                                   {% if reclamation.etat =="0" %}
                                                       non regler

                                                   {% endif %}



                                            </td>


                                            <td>
                                                <a href="{{ path('reclamation_delete', {'id': reclamation.id}) }}" class="btn btn-success">Delete</a>

                                            </td>

                                            <td>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
                                                    <label class="form-check-label" for="flexSwitchCheckChecked"
                                                    >Checked switch checkbox input</label
                                                    >
                                                </div>

                                            </td>
                                        </tr>
                                    {% endfor %}

                                </table>
                                {# a changer m3a el base twig bsh yodhhrou mourab3at #}
                                 <div> 
{{ knp_pagination_render(reclamation) }}
</div>

                            </div>

                        </div>
                       

                        <!-- table-wrapper -->
                    </div>
                    <!-- section-wrapper -->
                </div>
                

            </div>
        </div>


    </div>

{% endblock %}
