
{#
<h1>Inscription sur le site</h1>
<div align="center"> {{ form_start(form) }}
{{ form_row(form.email, { 'attr': { 'placeholder': 'Adresse email...' } } ) }}
{{ form_row(form.username, { 'label':'Nom d\'utilisateur', 'attr': {'placeholder' :'Nom d\'utilisateur...' } }) }}
{{ form_row(form.password, { 'label':'Mot de passe', 'attr': {'placeholder':'Motde passe...' } }) }}
{{ form_row(form.confirm_password, { 'label':'Confirmer votre mot de passe','attr':{'placeholder':'Confirmer votre mot depasse...' } }) }}
<button type="submit" class="btn btn-success">Inscription</button>
{{ form_end(form) }}</div>

#}
      {#  <div class="app-content">
        <div class="side-app">
            <div class="page-header">
                <h4 class="page-title">Forms</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fe   fe-edit mr-1"></i> Forms</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Form Elements</li>
                </ol>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card m-b-20">
                        <div class="card-header">
                            <h3 class="card-title">Basic Example</h3>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">

                                    {{ form_row(form.username, { 'label':'Nom d\'utilisateur', 'attr': {'placeholder' :'Nom d\'utilisateur...' } }) }}
                                </div>
                                <div class="form-group">

                                    {{ form_row(form.email, { 'attr': { 'placeholder': 'Adresse email...' } } ) }}
                                </div>
                                <div class="form-group">

                                    {{ form_row(form.password, { 'label':'Mot de passe', 'attr': {'placeholder':'Motde passe...' } }) }}
                                </div>

                                <div class="form-group">

                                    {{ form_row(form.confirm_password, { 'label':'Confirmer votre mot de passe','attr':{'placeholder':'Confirmer votre mot depasse...' } }) }}
                                </div>
                                <div class="form-group mb-0">
                                    <div class="checkbox checkbox-secondary">
                                        <button type="submit" class="btn btn-success">Inscription</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end col -->

            </div>
            <!-- end row -->






        </div>
    </div>#}
{% block head %} <!doctype html>
<html lang="en" dir="ltr">
<head>
    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Gowell - Travel HTML Listing Template">
    <meta name="author" content="Spruko Technologies Private Limited">
    <meta name="keywords" content="travel html template,html code for travel and tourism website,travel agency website templates,template hotel booking,travel web template,trip travel,themeforest html templates,travel website templates,travel template,travel itinerary template,travel booking template,travel agency website templates html5,travel website templates bootstrap,tourism website templates html,travel agency html template,travel theme html,html travel website templates,travel html theme,travel website templates html,template html travel,tour operator website templates">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- Title -->
    <title>{% block title %}KifTrip{% endblock %}</title>
    {% block css %}

        <!-- Bootstrap Css -->
        <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

        <!-- Sidemenu Css -->
        <link href="../../assets/css/dashboard/sidemenu.css" rel="stylesheet" />

        <!-- Dashboard css -->
        <link href="../../assets/css/style.css" rel="stylesheet" />

        <!-- Admin-Custom Css -->
        <link href="../../assets/css/dashboard/admin-custom.css" rel="stylesheet" />

        <!-- c3.js Charts Plugin -->
        <link href="../../assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" />

        <!---Font icons-->
        <link href="../../assets/css/icons.css" rel="stylesheet"/>

        <!-- Color Skins -->
        <link id="theme" href="../../assets/color-skins/color.css"  rel="stylesheet"/>
    {% endblock %}


</head>{% endblock %}
<body class="page-section">

<!--Loader-->
<div id="global-loader" class="bg-primary">
    <div class="loader-svg-img">
        <img src="../../assets/images/brand/2.png" class="" alt="">
        <div class="flight-icon"><i class="fa fa-plane"></i></div>
    </div>
</div>

<!--Page-->
{% block body %}
    <div class="page h-100">
        <div class="page-content zindex-10">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-12 col-md-12 d-block mx-auto">
                        <div class="card mb-0 shadow-none">
                            <div class="card-header">
                                <h3 class="card-title">reset Password</h3>
                            </div>
                            {% for flashError in app.flashes('reset_password_error') %}
                                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                            {% endfor %}
                            {{ form_start(requestForm)}}
                            <div class="card-body">

                                <form>
                                    <div class="form-group">
                                        <label class="form-label" for="exampleInputname">Adresse email</label>
                                        {{ form_widget(requestForm.email , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'adresse email'}} ) }}
                                        {{ form_errors(requestForm.email) }}
                                    </div>
                                    <div class="form-group mb-0">
                                            {{ form_widget(requestForm) }}
                                            <button type="submit" class="btn btn-success">send password reset email</button>
                                        </div>
                                    </div>
                            <div class="text-center  mt-3 text-dark">
                                 <a href="{{ path('security_login') }}">Connexion</a>
                            </div>
                                </form>
                            </div>
                            {{ form_end(requestForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block js %}

    <!-- JQuery js-->
    <script src="../../assets/js/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap js -->
    <script src="../../assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="../../assets/plugins/bootstrap/js/bootstrap.bundle.js"></script>

    <!--JQuery Sparkline Js-->
    <script src="../../assets/js/jquery.sparkline.min.js"></script>

    <!-- Circle Progress Js-->
    <script src="../../assets/js/circle-progress.min.js"></script>

    <!-- Selectize Js-->
    <script src="../../assets/js/selectize.min.js"></script>

    <!-- Jquery-bar-rating Js-->
    <script src="../../assets/plugins/jquery-bar-rating/jquery.barrating.js"></script>
    <script src="../../assets/plugins/jquery-bar-rating/js/rating.js"></script>

    <!-- Perfect scroll bar Js-->
    <script src="../../assets/plugins/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../assets/plugins/perfect-scrollbar/p-scroll.js"></script>

    <!--Side-menu Js-->
    <script src="../../assets/plugins/toggle-sidebar/sidemenu.js"></script>

    <!--Internal Counters -->
    <script src="../../assets/plugins/counters/counterup.min.js"></script>
    <script src="../../assets/plugins/counters/waypoints.min.js"></script>

    <!-- Custom Js-->
    <script src="../../assets/js/admin-custom.js"></script>
{% endblock %}

</body>
</html>

