
{% extends 'dashboard.html.twig' %}

{% block body %}
<div class="app-content">
					<div class="side-app">
						<div class="page-header">
							<h4 class="page-title"> activités</h4>

							

							{#<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="fe   fe-box mr-1"></i> Tables</a></li>
								<li class="breadcrumb-item active" aria-current="page">Data Tables</li>
							</ol>#}
						</div>
						<div class="row">
							<div class="col-md-12 col-lg-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title">Liste des activités</div>
									</div>
				
									<div class="card-body">
										<div class="table-responsive">
											<input class="form-control" id="myInput" type="text" id="navbar-search-input" placeholder="chercher.." aria-label="search" aria-describedby="search">
											<table id="example" class="table table-striped table-bordered" >
												<thead>
													<tr>
														<th class="wd-15p">iD</th>
														<th class="wd-15p">nom</th>
														<th class="wd-20p">description</th>
														<th class="wd-15p">catégorie</th>
                                                        <th class="wd-15p">date</th>
                                                        <th class="wd-15p">prix</th>
                                                        <th class="wd-15p">image</th>
														<th class="wd-10p">modifier</th>
														<th class="wd-25p">supprimer</th>
													</tr>
												</thead>
												<tbody id="hi">
													<tr {% for a in activites %}>
                                                        <td>{{a.idact}}</td>
                                                        <td>{{a.nom}}</td>
                                                        <td>{{a.description}}</td>
                                                        <td>{{a.categorie}}</td>
                                                        <td>{{a.getDate()|date('d-m-Y H:i:s')}}</td>
                                                        <td>{{a.prix}}</td>

                                                        <td><img src="{{asset('uploads/'~ a.image)}}" alt="image" class="image"></td>
														
                                                        <td><a href="{{ path('updateActivite', {'idact':a.idact}) }}"class="btn btn-success">Modifier</a></td>
                                                        <td><a href="{{ path('deleteActivite', {'idact':a.idact}) }}"class="btn btn-secondary">Supprimer</a></td>
														
                        										
                                                    </tr {% endfor %}>
                                                    </tbody>
											</table>
										</div>
									</div>
									<!-- table-wrapper -->
                                <div class="card-body">
										<a class="btn btn-primary" href="{{path('newActivite')}}"> Ajouter activité </a>
									</div>

								</div>
                                
								<!-- section-wrapper -->
							</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script>
    	$(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#hi tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    	});
		</script>
                        

{% endblock %}
