{% extends 'test.html.twig' %}
    {% block title %}
{% endblock %}
{% block body %}
<div class="table-responsive">
    <table class="table mb-0">
        <thead>
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Date</th>
            <th>CAPACITY</th>
            <th>Description</th>
            <th>image</th>
            <th>Adresse</th>
            <th>Editer</th>
            <th>Supprimer</th>
        </tr>

        <div style="margin-left:1250px;">
            <a class="btn btn-info" href="{{path('newEvents')}}"> Ajouter un Event </a>
        </div>
        <tr>

            {% for events in events %}
            <td>{{ events.id }}</td>
            <td>{{ events.nom }}</td>
            <td>{{ events.getDate()|date('d-m-Y H:i:s') }}</td>
            <td>{{ events.capacite }}</td>
            <td>{{ events.description }}</td>
            <td>{{ events.image }}</td>
            <td>{{ events.adresse }}</td>
            <td>
                <a class="btn btn-primary" href="{{ path('updateEvents', {'id': events.id})}}"> modifier</a>
            </td>
            <td>
                <a class="btn btn-danger" href="{{ path('delete', {'id': events.id}) }}"> supprimer </a>
            </td>
        </tr>
        {% endfor %}
        <table border="3"

</table>

<div style="margin-left:800px;">
 <a class="btn btn-info" href="{{path('newEvents')}}"> Ajouter un Event </a>
    <a class="btn btn-success" href="{{ path('pdf') }}">Create pdf</a>

</div>
</div>
    <div  {{ knp_pagination_render(events) }} </div>
    {% endblock %}
